<h1>Quản lý danh mục</h1>
<div class="body-container-content">
  <div class="body-container-content-left container">
    <div class="form">
      <div class="form-group">
        <label for="" class="form-label">Tên danh mục</label>

        <input
          [(ngModel)]="name"
          type="text"
          class="form-control"
          [value]="name"
        />
        <label
          class="text-danger m-2"
          *ngIf="name.length > 0 && name.length <= 8"
          for=""
          >Tên danh mục phải lớn hơn 8 kí tự</label
        >
      </div>
      <div class="form-group">
        <label for="" class="form-label">Mô tả</label>
        <textarea
          [(ngModel)]="description"
          type="text"
          [value]="description"
          class="form-control"
        ></textarea>
        <label
          class="text-danger m-2"
          *ngIf="description.length > 0 && description.length <= 8"
          for=""
          >Mô tả phải lớn hơn 8 kí tự</label
        >
      </div>
      <button *ngIf="!isUpdate"
        [disabled]="
          (description.length >= 0 && description.length <= 8) ||
          (name.length >= 0 && name.length <= 8)
        "
        (click)="addNewCategory()"
        class="btn btn-success"
      >
        Thêm mới
      </button>
      <button *ngIf="isUpdate"
      [disabled]="
        (description.length >= 0 && description.length <= 8) ||
        (name.length >= 0 && name.length <= 8)
      "
      (click)="addNewCategory()"
      class="btn btn-success"
    >
      Lưu
    </button>
    </div>
  </div>
  <div class="body-container-content-right">
    <table class="table text-center">
      <thead>
        <th>STT</th>
        <th>Tên danh mục</th>
        <th>Thao tác</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCate; index as idx">
          <td>{{ idx + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>
            <button
            class="btn btn-warning mr-3"
              (click)="handleUpdateCate(item)"
              label="Show"
            >Sửa</button>
            <!-- <span (click)="deleteCate(item._id)">Xóa</span> -->
            <!-- <span (click)="openDialog('0ms', '0ms')">Xóa</span> -->
            <p-dialog [(visible)]="display">
              <ng-template pTemplate="header">
                 Xóa
              </ng-template>
              Bạn có chắc chắn muốn xóa?
              <ng-template pTemplate="footer">
                <button
                class="btn btn-danger"
                  type="button"
                  label="Show"
                  (click)="deleteCate(item._id)"
                >OK</button>
                <button
                class="btn btn-warning"
                  type="button"
                  (click)="display=false"
                  label="Show"
                >Cancle</button>
              </ng-template>
          </p-dialog>
            <button
            class="btn btn-danger"
              [disabled]="idIsUpdated===item._id"
              type="button"
              (click)="showDialog()"
              icon="pi pi-info-circle"
              label="Show"
            >Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<lib-toastify-toast-container
  [iconLibrary]="'material'"
  [autoClose]="2000"
></lib-toastify-toast-container>
