<div class="container mt-5 mb-4">
  <div class="title-group">
    <h1 class="title-group-content">{{title}}</h1>
  </div>
  <ul class="list-product">
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
    <li class="product-item">
      <div class="product-img-wrap">
        <img loading="lazy" [src]="imgUrl" alt="">
      </div>
      <span class="product-item-des">đồng hồ Nam</span>
      <p class="product-item-name">Đong ho Lousoius Vuiton sss34500</p>
      <p class="product-item-price">18,987,789đ</p>
    </li>
  </ul>
</div>
